---
import Layout from "../layouts/Layout.astro";
import { getBlogs, getBlogById } from "../libs/microcms";

export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((blog:any) => ({
    params: {
        blogId: blog.id
    }
  }))
}

const { blogId } = Astro.params;
const blog = await getBlogById(blogId as string);
---

<Layout title="blog-detail">
  <main>
    <h1>{blog.title}</h1>
    <p>Published at: {new Date(blog.publishedAt).toLocaleString()}</p>
    <div set:html={blog.body} />
  </main>
</Layout>
